div#editUrl.modal.hide.fade(role='dialog')
  div.modal-header
    button.close(type='button', data-dismiss='modal') x
    h1 Url
  form#editUrlForm(method='POST')
    div.modal-body
      label Url:
      input(type='text', name='urlfield')
      br/
      label Tags:
      input(type='text', name='tagsField')
    div.modal-footer
      button.close(type-'button', data-dismiss='modal') Cancel
      button.btn-primary(type='submit') Add
