!!! html
html
  head
    script(src='./scripts/require.js', data-main='scripts/boxmark')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href="css/bootstrap-responsive.min.css", rel="stylesheet", media="screen")
  body
    div.container-fluid
      div#top-nav-bar.row-fluid
        div#top-left-nav.span2
          a#urlslink.pull-left.btn(href='#urls') Urls
        div#top-title-nav.span8
          a#titlebar.brand(href='#add') BoxMark
        div#right-top-nav.span2
          a#tagslink.pull-right.btn(href='#tags') Tags
      div#content.row-fluid
        div#chead.row-fluid
        table#items.row-fluid
      div#bottom-bar.row-fluid.navbar.navbar-fixed-bottom
        div.span4
          a(href='#up').pull-left
            i.icon-arrow-up
        div.span4
          a(href='#conf')
            i.icon-wrench
        div.span4
          a(href='#down').pull-right
            i.icon-arrow-down

  include forms
